# Node modules
**/node_modules/

# Circom/zkSNARK build artefacts
**/build/
**/*_js/
*.r1cs
*.wasm
*.sym
*.zkey
*.ptau
*.vkey.json
*.pkey.json
generate_witness.js
witness_calculator.js

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
